<div class="main-cont">
    <div class="container">
        <div>
            <div>
                <h1 class="head">Dashboard</h1>
            </div>
            <div class="das-btn">
                <div>
                    <button class="add">Add an expense</button>
                </div>
                <div>
                    <button class="settle">Settle up</button>
                </div>
            </div>
        </div>
        <div class="dash-expense">
            <div>
                <p>total balance</p>
                <p>+$65.00</p>
            </div>
            <div>
                <p>you owe</p>
                <p>$0.00</p>
            </div>
            <div>
                <p>you are owed</p>
                <p>$65.00</p>
            </div>
        </div>

    </div>

</div>