<div class="main-container">
    <div class="modal-container">
        <div class="expense">
            <form action="">
                <div class="expense-header">
                    <div>
                        <h1>Add an expense</h1>
                    </div>
                    <div>
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
                <div class="withyou">
                    <span>With you and:</span>
                    <div class="all">
                        <div>
                            <p>S</p>
                        </div>
                        <span>All of Funky</span>
                    </div>
                </div>
                <div class="add-expense">

                    <div class="expense-details">
                        <div class="img-expense">
                            <img src="https://s3.amazonaws.com/splitwise/uploads/category/icon/square_v2/uncategorized/general@2x.png"
                                alt="general">
                        </div>
                        <div class="input-cont">
                            <div>
                                <input type="text" name="" id="" placeholder="Enter a description">
                            </div>
                            <div>
                                <input type="text" name="" id="" placeholder="0.00">
                            </div>

                        </div>
                    </div>

                    <div class="paidby">
                        <p>Paid by <span class="highlight">you</span> and split <span class="highlight">equality</span>
                        </p>
                        <p><i class="fa-solid fa-indian-rupee-sign"></i> 0.00/person</p>
                    </div>
                </div>

                <div class="btn-container">
                    <div>
                        <button>December 13, 2024</button>
                        <button>Add images/notes</button>
                    </div>
                    <div>
                        <button>Funky</button>
                    </div>
                </div>
                <div class="submit-btn">
                    <button>Cancel</button>
                    <button>Save</button>
                </div>
            </form>
        </div>
    </div>

</div>